.service-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.total_service_container {
  width: 100%;
  padding: 50px 0px 150px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-boxes {
  background: linear-gradient(135deg, #479274, #1c5d43);
  border-radius: 15px;
  width: 30%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.service-boxes:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.services_main_heading {
  font-size: 60px;
  font-weight: bold;
  color: #1c5d43;
  padding-bottom: 60px;
  text-align: center;
}

.services-text {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
}

.service-boxes:hover .services-text {
  color: #fff;
}

@media screen and (max-width: 484px) {
  .service-container {
      flex-direction: column;
      width: 90%;
  }

  .service-boxes {
      width: 100%;
  }

  .services-text {
      font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .service-container {
      width: 90%;
  }

  .service-boxes {
      width: 100%;
  }

  .services-text {
      font-size: 14px;
  }
}
