.service-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .total_service_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../service/backg.jpg);
  }
  .service-boxes{
    background-color: #5b2c16;
    width: 30%;
    padding: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px #b87a34;
  }
  .services_main_heading{
    font-size: 32px;
    font-weight: bold;
    color: #0e1114;
  }
  .service-boxes:hover{
    transform: scale(1.03);
    transition: 0.2s;
    background-color: #b54b00;
    box-shadow: 4px 4px #000;
  }
  .services-text{
    font-size: 17px ;
    color: #f1ecec;
  }
  .service-boxes:hover .services-text{
    color: #fff;
   
  }
  @media screen and (max-width: 484px) {
    
    .service-container{
    flex-direction: column;
    width: 90%;
    }
   .service-boxes{
    width: 100%;
   }
   .services-text{
    font-size: 12px;
   }
   
  }
  @media screen and (max-width: 768px) {
    
    .service-container{
    width: 90%;
    }
   .service-boxes{
    width: 100%;
   }
   .services-text{
    font-size: 14px;
   }
   
   
  }