* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dc {
  background-color: antiquewhite;
  border-radius: 30px;
  display: flex;
  padding: 0.81rem;
  flex-direction: column;
  transition: all 2sec ease-in-out;
}
.amain {
  width: 100%;
  height: 100vh;
  display: flex;
}
.avatar {
  width: 100px;
  height: 100px;
  /* width: 30%;
  height: 35%; */
  border-radius: 50%;
}
.cv {
  display: flex;
  align-items: center;
  font-size: larger;
  justify-content: center;
}
.aleft {
  background-color: grey;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* margin-left: 45px; */
  cursor: pointer;
  gap: 1rem;
}

.details p{
    margin-left: 50%;
}

.drop p{
    margin-left: 25%;
}

.cr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.cp {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details p {
  color: white;

  width: 200px;

  align-items: center;
}
.up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.alogo {
  width: 20rem;
  height: auto;
}

.aleft {
  background-color: rgb(24, 78, 196);
  display: none;
}

.aright {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.con1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.con2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}
.cv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: larger;
  margin: 1rem;
  padding: 1rem;
}
.acard {
  width: calc(33.33% - 1rem);
  height: 150px;
  margin: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 1rem;
  margin-top: 2rem;
  color: #f0f0f0;
}

.acard:hover {
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .aleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .details {
    width: 200px;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .aright {
    padding: 0.5rem;
  }
  .con2 {
    flex-direction: column;
    align-items: center;
  }
  .acard {
    width: calc(100% - 1rem);
  }
}
