/* *{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
} */


.total-Tracking{
  display: flex;
  flex-direction: column;
  position: relative;
}

.complaint_tracker{
  height: 200px;
  width: 70%;

 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
#complaint{

}
.complaint{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
#tracker_heading{
  font-size: 2vw;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: #0077B5;
  margin: 20px;
  
}
#track_button {
background-color: #0077B5; 
color: white; 
padding: 1vw 2vw;
border: none; 
border-radius: 5px; 
cursor: pointer; 
font-size: 1.2vw; 
}

#track_button:hover {
background-color: #005F8D; 
}
#input{
height: 35px;
width: 40%;
}
#complaint{
font-size: 1.6vw;
font-family: Arial, sans-serif; 
color: #333;
}


.popup{
margin-top: 30px;
border-top: 3px solid #0077B5;
  /* border: 1px solid red; */
  width: 85%;
  height: 200px;
  margin: 0 auto;
}

.timeline {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tdot-container {
  display: flex;
 gap: 18vw;
height: 100px;
  /* border: 1px solid red; */
  position: relative;
}

.tdot {
  position: absolute;
  bottom: 0.8vw;
  height: 1.3vw;
  width: 1.3vw;
  position: relative;
  background-color: #c3c6c8; /* or any color you prefer */
  border-radius: 50%;
  margin: 0 10px; /* Adjust the margin as needed */
}
.active{
  background-color: #f7ea3a;
  transform: scale(1.3);
}
.tdot-item{
  font-size: 1.7vw;
  position: relative;
  top: 2vw;
 transform: scale(0.8);
}


#twithdraw{
  background-color: #0077B5; 
color: white; 
padding: 1vw 2vw;
border: none; 
border-radius: 5px; 
cursor: pointer; 
font-size: 1.2vw; 
margin-top: 0.6vw;
}