@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.login-page {
    margin: -10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100vh;
    /* width: 100%; */
    place-items: center;
    background: linear-gradient(135deg, #5ebeee, #084c9b);
    background: url("../signup/spectos-customer-satisfaction-complaint-management.jpg");
    background-size: cover;
  }
  
  .login-page::selection {
    background: #ff80bf;
  }

  .login-logo {
    margin-top: -180px;
    text-align: center;
    margin-bottom: -70px;
  }
  
  .login-logo img {
    width: 390px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio */
  }
  
  /* Responsive CSS */
  
  
  
.container{
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-top: -280px;
  opacity: 85%;
}
.container form .title{
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #dfec54 0%, #ea3c4a 100%);
}
.container form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #18c7be 0%, #0a6f86 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container form .button{
  margin: 40px 0 20px 0;
}
.container .input-box input[type="submit"]{
  background: linear-gradient(135deg, #052a3c, #205d92);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background: linear-gradient(135deg, #4ca7d5, #379ef8);
}
.container .option{
  font-size: 14px;
  text-align: center;
}


.login-page .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .login-page .remember-forgot a {
    text-decoration: none;
    color: #777;
  }
  
  .login-page .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-page .signup-link a {
    text-decoration: none;
    color: #087391;
    text-decoration: underline;
  }
  
  .login-page .signup-link a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .login-logo img {
      width: 90px; /* Adjust the width for smaller screens */
    }

    .container{
      width: 80%;
      margin-top: -300px;
    }
    
  }