/* .feedback-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    height: 100dvh;
    margin: 0 auto;
    background-image: url(../feedback/backg.jpg);
  }
  
  .feedback-container h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .feedback-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }

  #contact_heading{
 
    font-size: 32px;
    font-family: sans-serif;
    color: #1976d2;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    
  }
  .underline{
    width: 14%;
    background: #1976d2;
    height: 3px;
    border: 1px;
  } */
  .left_contact{
    margin: 0 auto;
    
    height: 100dvh;
    width: auto;
    display: flex;
    padding: 0 20vw;
    flex-direction: column;
    align-items: center;
    background-image: url(../feedback/backg.jpg);
    background-size: cover;
  
  }
  
  @media screen and (max-width: 768px) {
    
    .left_contact{
      width: 90%;
    }
    
  }
  