.profile-container {
    padding: 20px;
     width: 60%;
    margin: auto;
    /* border: 1px solid red; */
    /* background-image: url('../');
    background-size: cover; */
  }
  .user-info p {
    color: #333; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
  }
  
  .user-info strong {
    color: #1877f2; 
    font-family: Arial, sans-serif; 
  }
  
  .user-info .user-photo {
    border: 2px solid #1877f2; 
  }
  .profile-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #1877f2; 
    font-size: 28px; 
    font-family: Arial, sans-serif;
    /* border: 1px solid red; */
    font-weight: bold;
  }
  
  .user-details {
    display: flex;
   justify-content: flex-start;
  gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid flex;
  }
  
  .user-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  
  .user-detail {
    margin-bottom: 10px;
  }
  .edit-button{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  
  .edit-dialog {
    background-color: #f5f5f5;
    /* min-height: 1000px; 
    min-width: 300px; */
    /* border: 1px solid red; */
  }
  
  .dialog-title {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    /* border: 1px solid red; */
    text-align: center;
  }
  
  .dialog-actions {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
    margin-right: 10px;
  }
  
  .save-button {
    background-color: #4caf50;
    color: white;
  }
  .question-box{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    
  }
  .question{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 18px;
    border-radius: 8px;
    border: 2px solid #2196f3;
   
    box-shadow: 4px 4px  #0077B5;
  }
  #question-heading{
    color: #1877f2; 
    font-size: 28px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .user-details{
      flex-direction: column;
    }
  }