.block{
    height: 100dvh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    /* box-shadow: 4px 4px  #0077B5; */
    background-image: url(../contact/backg1.jpg);
    
}

@media screen and (max-width: 768px) {
    .block{
      width: 100%;
    } 
}